#header{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 1000;
}

.header_inner{
    position: relative;
    width: 180px;
    height: 100%;
    padding-top: 40px;
}

#nav{
    width: 100%;
    padding: 0 12px;
}

#nav ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#nav ul li{
    width: 100%;
}

#nav ul li a{
    font-family: var(--font3-);
    display: flex;
    align-items: center;
    color: var(--fontGray1-);
    padding: 12px 16px 12px 50px;
    font-size: 15px;
    border-radius: 999px;
    font-weight: 500;
    background-position: left 16px center !important;
    background-repeat: no-repeat !important;
    background-size: 18px auto !important;
    transition: background-color 0.3s, color 0.3s;
}

#nav ul li:nth-child(1) a{
    background-image: url('../img/nav_ico1.svg');
}

#nav ul li:nth-child(2) a{
    background-image: url('../img/nav_ico2.svg');
}

#nav ul li:nth-child(3) a{
    background-image: url('../img/nav_ico3.svg');
}

#nav ul li:nth-child(4) a{ 
    background-image: url('../img/nav_ico4.svg');
}

#nav ul li.active a,
#nav ul li a:hover,
#nav ul li a:focus-visible{
    background-color: var(--main-color2-);
    color: #000;
}

#nav ul li.active:nth-child(2) a,
#nav ul li.active:nth-child(2) a:hover,
#nav ul li.active:nth-child(2) a:focus-visible{
    background: url('../img/nav_ico2_active.svg') var(--main-color2-);
}

#nav ul li.active:nth-child(3) a,
#nav ul li.active:nth-child(3) a:hover,
#nav ul li.active:nth-child(3) a:focus-visible{
    background: url('../img/nav_ico3_active.svg') var(--main-color2-);
}

.logo{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0, 0, 0, 0.06);
}

.logo img{
    width: 64px;
    height: auto;
}