
#wrap{  
    width: 100%;
    height: 100%;
    position: relative;
}


.fixed_bg{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: calc(100vw - 16.666vw);
    height: calc(100vh - 25vh);
    border-radius: 10px;
    overflow: hidden;
}

.fixed_bg video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scrollBox{
    width: 100%;
    height: 100vh;
}

.scrollEl{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_inner{
    width: 100%;
    height: 100%;
    position: relative;
}

#main .section_inner{
    width: calc(100vw - 16.666vw);
    height: calc(100vh - 25vh);
}

.main_tit{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
    width: max-content;
    text-transform: uppercase;
}

.main_tit::before{
    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 145%;
    height: 180%;
    border-radius: 50%;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    z-index: -1;
    filter: blur(40px);
    -webkit-filter: blur(40px);
}

.main_tit h2{
    font-size: 120px;
    font-weight: 500;
}

.main_tit span{
    font-size: 20px;
    font-weight: 500;
}

.scroll_notice{
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 250px;
    border-radius: 20px 20px 0 0;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll_notice::before{
    display: block;
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    width: 35px;
    height: 39px;
    border-bottom-right-radius: 50%;
    box-shadow: 20px 20px #fff;
}

.scroll_notice::after{
    display: block;
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 35px;
    height: 39px;
    border-bottom-left-radius: 50%;
    box-shadow: -6px 18px #fff;
}

.scroll_notice span{
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #414141;
    font-weight: 500;
    line-height: 50px;
}

.scroll_notice span::before{
    display: block;
    content: "";
    position: absolute;
    left: -13px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #414141;
}

/* link */

#link{
    width: 100%;
    height: 100vh;
    visibility: hidden;
}

#link .section_inner{
    padding: 0 3.75vw 0 10.417vw;
    display: flex;
}

.link_box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

.link_box.left{
    padding-right: 3.646vw;
}

.link_tit{
    position: relative;
    transform: translateY(15%);
    -webkit-transform: translateY(15%);
    display: flex;
    flex-direction: column;
}

.mrgEffect{
    margin-bottom: 3.125rem;
}

.ltEffect{
    overflow: hidden;
}

.ltEffect.top{
    margin-bottom: 30px;
}

.ltEffect > *{
    display: inline-block;
    position: relative;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}

.link_tit p{
    font-size: 0.938vw;
    font-weight: 600;
    letter-spacing: -0.01876vw;
}

.link_tit h2{
    display: block;
}

.link_tit h2 *{
    font-weight: 500;
    color: #000;
    line-height: 1.2;
    font-size: 4.167vw;
    letter-spacing: -0.08334vw;
}

.link_tit h2 p{
    position: relative;
    overflow: hidden;
}

.upEffect{
    display: inline-block;
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
}

.link_tit h2 .color{
    color: var(--main-color1-);
}

.link_tit h2 p:last-child{
    margin-top: -0.5vw;
}

.linkFadeEffect{
    opacity: 0;
}

.notice_chk{
    display: inline-block;
    width: max-content;
    font-size: 15px;
    font-weight: 600;
    color: #2b2b2b;
    padding: 9px 16px;
    border-radius: 999px;
    background: rgba(255, 255, 255, 0.9);
    letter-spacing: -0.3px;
}

.link_box.right{
    flex: 1;
}

.link_list{
    width: 37.5vw;
    margin-left: auto;
    height: 100%;
    padding: 1.563vw 0;
    opacity: 0;
}

.link_list ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2.195vh;
}

.link_list ul li{
    position: relative;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
    transition: all .8s cubic-bezier(0.76, 0, 0.24, 1);
}

.link_list ul li.active{
    flex: 1.8;
}

.link_list_box{
    position: relative;
    width: 100%;
    height: 100%;
}

.llb_inner{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.563vw;
    border-radius: 10px;
    overflow: hidden;
    /* mask-image: url('../img/Subtract01.svg'), linear-gradient(#000000 0 0);
    mask-repeat: no-repeat;
    mask-position: right 10px top 20px;
    mask-composite: exclude; */
}

.llb_inner::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .8s cubic-bezier(0.76, 0, 0.24, 1);
}

.link_list ul li.active .llb_inner::before{
    opacity: 0;
}

.llb_inner::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(97, 65, 214, 0.7), rgba(103, 16, 201, 0.7));
    transition: all .8s cubic-bezier(0.76, 0, 0.24, 1);
    opacity: 0;
}

.llb_inner > a{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.link_list ul li.active .llb_inner::after{
    opacity: 1;
}

.link_list ul li.active .llb_inner{
    border: none;
    transform: translateY(0);
    z-index: 100;
}

.llb_tm_box{
    position: relative;
    height: 100%;
    z-index: 2;
}

.llb_tm_cont{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.link_list ul li.active .llb_inner *{
    color: #fff;
    transition: all .8s cubic-bezier(0.76, 0, 0.24, 1);
}

.link_list ul li.active .llb_inner a{
    display: block;
    height: 100%;
    z-index: 10;
}

.llb_tm_top{
    position: relative;
    flex: 1;
    padding: 1.563vw;
}

.llb_top{
    width: 100%;
    height: 100%;
    width: 13.021vw;
}

.llb_top span{
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 0.938vw;
    font-weight: 500;
    font-family: var(--font1-);
    color: var(--main-color1-);
}

.llb_mid{
    padding: 0 1.563vw;
    flex: 1;
    max-height: 100%;
}

.llb_mid_inner{
    display: flex;
    height: 100%;
    padding-bottom: 0.833vw;
}

.llb_tit{
    font-size: max(1.625rem, 26px);
    font-weight: 600;
    word-break: keep-all;
    line-height: 1.3;
}

.llb_tit h3{
    font-size: max(1.625rem, 26px);
    font-weight: 600;
    word-break: keep-all;
    line-height: 1.3;
}

.llb_img{
    position: absolute;
    left: 13.021vw;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: calc(100% - 14.063vw);
    height: calc(100% - 2.5vw);
    padding-right: 5.469vw;
}

.llb_img figure{
    position: relative;
    height: 100%;
}

.link ul li:nth-child(n+1) .llb_img figure{
    padding-top: 1vw;
}

.llb_img figure video{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.link_list ul li.active .llb_img figure video{
    width: 120%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.llb_bot{
    padding: 0 1.042vw 1.042vw 1.042vw;
}

.link_list ul li.active .llb_bot{
    display: block;
}

.llb_bot p{
    padding: 0.781vw;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.2);
    line-height: 1.5;
    font-size: 0.781vw;
    word-break: keep-all;
    color: #fff !important;
    letter-spacing: -0.01562vw;
}

.link_check{
    position: absolute;
    right: 1.563vw;
    top: 1.563vw;
}

.link_check span{
    position: relative;
    display: inline-block;
    font-size: 0.938rem;
    color: rgba(255, 255, 255, 0.8) !important;
    padding-right: 0.938rem;
    overflow: hidden;
    transition: all .8s cubic-bezier(0.76, 0, 0.24, 1);
}

.link_list ul li:not(.active) .link_check span{
    color: transparent !important;
}

.link_check span::after{
    display: block;
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 6px;
    height: 14px;
    background: url('../img/link_arrow.png') no-repeat;
    background-position: center;
    background-size: contain;
    transition: all .8s cubic-bezier(0.76, 0, 0.24, 1);
}

.link_list ul li:not(.active) .link_check span::after{
    filter: invert(1);
    -webkit-filter: invert(1);
}

/* preview */

#preview .section_inner{
    display: flex;
    flex-direction: column;
}

.subPage_tit{
    width: 100%;
    margin-bottom: 20px;
}

.subPage_tit h1{
    font-size: 34px;
    font-weight: 700;
    font-family: var(--font1-);
}

.subPage_tabBtnArea{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.subPage_tabBtn ul{
    display: flex;
    flex-wrap: wrap;
    padding: 6px;
    background: var(--main-color2-);
    border-radius: 999px;
}

.subPage_tabBtn ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 185px;
    height: 45px;
    border-radius: 999px;
    color: var(--fontGray1-);
    font-size: 16px;
    font-weight: 700;
    font-family: var(--font1-);
}

.subPage_tabBtn ul li.active a{
    background: #fff;
    color: #000;
    transition: all .5s;
}

.subPage_tab_desc{
    padding-left: 30px;
    margin-left: 30px;
    background: url('../img/prv_ico1.svg') no-repeat;
    background-position: left center;
    background-size: auto 100%;
}

.subPage_tab_desc p{
    display: none;
    font-size: 14px;
    color: var(--fontGray1-);
    font-weight: 500;
    font-family: var(--font1-);
    padding: 3px 0;
}

.subPage_tab_desc p b{
    font-weight: 700;
}

.subPage_tab_desc p.active{
    display: block;
}

.subPage_tabArea{
    flex: 1;
}

.subPage_tabBox{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
    gap: 16px;
}

#statistic .subPage_tabBox{
    border-top: 1px solid rgba(0, 0, 0, 0.06);
    padding-top: 20px;
}

.subPage_tabBox.active{
    display: flex;
}

.subPage_tabBox .divider{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Chart_area{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 30px;
}

.Chart_area .Chart_top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

.colorInfo{
    display: flex;
    padding: 9px 14px;
    background: var(--main-color3-);
    border-radius: 0.521vw;
}

.colorInfo ul{
    display: flex;
    gap: 17px;
}

.colorInfo ul li{
    display: flex;
    align-items: center;
    gap: 6px;
}

.colorInfo ul li span{
    font-size: 13px;
    font-weight: 600;
    font-family: var(--font1-);
    color: var(--fontGray2-);
}

.barColor{
    width: 11px;
    height: 11px;
    border-radius: 2px;
}

#preview .barColor{
    background: var(--chartColor1-);
}

.lineColor{
    width: 0.573vw;
    height: 2px;
}

#preview .lineColor{
    background: var(--main-color1-);
}

.Chart{
    position: relative;
    width: 100%;
    height: 300px;
}

.chart_box{
    width: 100%;
    height: 100%;
}

#chart1{
    display: block;
    width: 100% !important;
    height: 100% !important;
}

.chart_box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.company_list{
    display: none;
    position: relative;
    width: 100%;
    height: 420px;
    padding: 50px 30px 30px 30px;
}

.company_list.active{
    display: block;
}

.company_list_scroll{
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.company_list_scroll::-webkit-scrollbar {
    width: 4px;
}

.company_list_scroll::-webkit-scrollbar-track {
    background: transparent !important;
}

.company_list_scroll::-webkit-scrollbar-thumb {
    background: #9C9C9C !important;
    border-radius: 2px;
}


.company_list table{
    width: 100%;
    font-family: var(--font1-);
    table-layout: fixed;
}

.company_list table th{
    height: 50px;
    text-align: left;
    font-size: 13px;
    color: var(--fontGray1-);
    font-weight: 600;
    vertical-align: middle;
    padding-right: 18px;
    line-height: 1.3;
}

.company_list table thead{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    display: table;
    border-bottom: 1px solid #ededed;
}

.company_list table thead tr{
    width: 100% !important;
}

.company_list table tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.company_list table tbody{
    height: calc(100% - 50px);
}

.company_list table tr td{
    padding: 14px 18px 14px 0;
    vertical-align: top;
}

.company_list table tr td:nth-child(5) br{
    display: none;
}

.company_list table tr td:nth-child(5) span.bold,
.company_list table tr td:last-child span.bold{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
    height: auto;
    min-height: unset;
}

.company_list table tbody tr td:last-child{
    vertical-align: middle;
}


.tb_compDesc{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.5rem 0.75rem;
}

.tb_compLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: #fff;
    border-radius: 50%;
}

.tb_compLogo img{
    width: 70%;
}

.tb_compDesc strong{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.company_list table td{
    height: auto;
}

.company_list table td span{
    display: inline-block;
    line-height: 1.3;
}

.company_list table td .bold{
    font-size: 14px;
    letter-spacing: -0.28px;
    font-weight: 500;
    margin-bottom: 5px;
}

.company_list table td .desc{
    font-size: 13px;
    letter-spacing: -0.26px;
    font-weight: 600;
    color: var(--fontGray1-);
}

.preview_tabBox .divider.right{
    width: 30%;
}

.dashBox.vrt3{
    height: 33.3333%;
}

.donutChart_area{
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.donutChart_top{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.563vw;
}

.donut_desc{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 0 10px;
}

.donut_desc > span{
    display: inline-block;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    border-radius: 999px;
    background: var(--chartColor3-);
    padding: 4px 8px;
    line-height: 1.4;
}

.donut_desc strong{
    display: inline-block;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: -0.48px;
}

.donut_desc strong span{
    display: inline-block;
    font-family: var(--font3-);
    font-weight: 600;
    font-size: 24px;
}

.donutChart_bot{
    flex: 1;
}

.donutChart_botArea{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.donutChart{
    position: relative;
}

.doughnut_chart{
    width: 160px;
    height: 160px; 
}

.prv_doughnut{
    width: 100% !important;
    height: 100% !important;
}

.donut_colorInfoList{
    width: 230px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.donut_colorInfoList li{
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 9px 0 9px 17px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    overflow: hidden;
}

.donut_colorInfoList li:last-child{
    border-bottom: none;
}

.donut_colorInfoList li::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.donut_colorInfoList li.color1::before{
    background: var(--main-color1-);
}

.donut_colorInfoList li.color2::before{
    background: var(--chartColor4-);
}

.donut_colorInfoList li.color3::before{
    background: var(--chartColor5-);
}

.donut_colorInfoList li.color4::before{
    background: var(--fontGray3-);
}

.donut_colorInfoList li.color5::before{
    background: var(--chartColor6-);
}

.donut_colorInfoList li.color6::before{
    background: rgba(34, 107, 218, 1);
}

.donut_colorInfoList li.color7::before{
    background: #225bda;
}

.donut_colorInfoList .desc{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: var(--fontGray1-);
    max-width: calc(100% - 80px);
    width: calc(100% - 80px);
    letter-spacing: -0.28px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.donut_colorInfoList .percent{
    display: inline-block;
    font-family: var(--font3-);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.32px;
}

.donut_colorInfoList .percent span{
    display: inline-block;
    font-size: 13px;
    letter-spacing: -0.26px;
}

/* statistic */

.subPage_link{
    position: absolute;
    right: 0;
    bottom: 100%;
}

.subPage_link ul{
    display: flex;
}

.subPage_link ul li a{
    position: relative;
    width: 145px;
    height: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 18px;
    letter-spacing: -0.36px;
    font-weight: 700;
    color: var(--fontGray2-);
}

.subPage_link ul li.active a{
    color: var(--main-color4-);
}

.subPage_link ul li.active a::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: var(--main-color4-);
}

.dash_basicInner.type1{
    width: 100%;
    height: 100%;
    padding: 30px;
}

.ratioChart_area{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.ratioChart_top{
    margin-bottom: 30px;
}

.ratioChart_box{
    position: relative;
    width: 330px;
    height: 330px;
    margin: 0 auto;
}

.ratioChart_arrow{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform-origin: center;
    width: 260px;
    height: 260px;;
    padding: 38px;
    transition: all .7s;
}

.ratioChart_arrow.continue{
    transform: translate(-50%, -50%) rotate(-122deg);
}

.ratioChart_arrow.close{
    transform: translate(-50%, -50%) rotate(-308deg);
}

.ratioChart_arrow svg{
    position: relative;
    transform: rotate(13deg);
    -webkit-transform: rotate(13deg);
    transform-origin: center;
}

.ratioChart_arrow.close svg path{
    fill: var(--chartColor8-) !important;
}

.ratioChart{
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 18px solid #B3B7BE;
}

.ratioChart.active{
    display: block;
}

.ratioChart_line{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-mask-image: radial-gradient(circle at center, transparent 57%, #fff 58%);
    mask-image: radial-gradient(circle at center, transparent 57%, #fff 58%);
    border-radius: 50%;
}

.continue .ratioChart_line{
    background-image: conic-gradient(transparent 0 18deg, #6E42D9 18deg 360deg);
}

.close .ratioChart_line{
    background-image: conic-gradient(#5F6B7F 0 18deg, transparent 18deg 360deg);
}

.ratioChart_info{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max-content;
}

.continue .ratioChart_info *{
    color: var(--chartColor7-);
    line-height: 1.1;
}

.close .ratioChart_info *{
    color: var(--chartColor8-);
}

.ratioChart_info strong{
    font-family: var(--font3-);
    font-size: 34px;
    font-weight: 600;
}

.ratioChart_info span{
    font-size: 20px;
    font-weight: 500;
}

.ratioChart_select{
    width: max-content;
    padding: 9px 14px;
    background: var(--main-color3-);
    border-radius: 8px;
    margin: 22px auto 0 auto;
}

.ratioChart_select ul{
    display: flex;
    gap: 0 10px;
}

.ratioChart_select ul li a{
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 6px;
    font-weight: 600;
    font-family: var(--font1-);
    letter-spacing: -0.26px;
}

.ratioChart_select .status{
    position: relative;
    display: flex;
    align-items: center;
    gap: 6px;
}

.ratioChart_select .status::before{
    display: block;
    content: "";
    position: relative;
    width: 11px;
    height: 11px;
}

.ratioChart_select .color1 a{
    color: var(--main-color1-);
}

.ratioChart_select .color1 .status::before{
    background: var(--main-color1-);
}

.ratioChart_select .color2 a{
    color: var(--chartColor8-);
}

.ratioChart_select .color2 .status::before{
    background: var(--chartColor8-);
}

.close_reason_area{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.close_reason_visual{
    width: 100%;
    height: 17px;
    border-radius: 999px;
    background: linear-gradient(to right, #38306d 0% 29.31%, #3865e0 29.31% 49.42%, #3192f9 49.42% 66.66%, #1fc6dc 66.66% 83.33%, #1b9264 83.33% 93.10%, #7a45e5 93.10% 96.55%, #9c76d9 96.55% 98.85%, #b4b8bf 98.85% 100%);
}

.close_notice{
    width: 100%;
    padding: 16px 18px;
    border-radius: 8px;
    background: var(--main-color2-);
    border: 1px solid #eaeef3;
    margin: 30px 0;
}

.close_notice p{
    font-size: 14px;
    padding: 0 0 0 28px;
    background: url('../img/statistic_ico1.svg') no-repeat;
    background-position: left top;
    background-size: 20px auto;
    color: var(--fontGray2-);
    font-weight: 500;
}

.close_notice p b{
    font-weight: 700;
    line-height: 1.5;
}

.close_reason_cate{
    width: 100%;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-auto-flow: column;
    column-gap: 20px;
    align-items: start;
}

.close_reason_cate li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 8px 0 8px 17px;
    font-size: 14px;
    letter-spacing: -0.28px;
    gap: 6px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.cate_dots{
    position: absolute;
    left: 0;
    top: 10.5px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.close_reason_cate .reason{
    color: var(--fontGray1-);
    font-weight: 500;
}

.close_reason_cate .percent{
    font-family: var(--font3-);
}

.close_reason_cate .percent strong{
    font-weight: 600;
}

.close_reason_cate .percent span{
    color: var(--fontGray1-);
    font-weight: 500;
    display: inline-block;
    margin-left: 0.188rem;
}

#statistic .divider.type1{
    position: relative;
}

#statistic .divider.type1 .dashBox{
    height: 100%;
}

.sub_wideArea{
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    padding: 0 30px 30px 30px;
}

.sub_wideTableBox{
    position: relative;
    height: 100%;
    padding-top: 66px;
}

.sub_wideTable{
    max-height: 100%;
    overflow-y: scroll;
}

.sub_wideTable::-webkit-scrollbar {
    width: 4px;
}

.sub_wideTable::-webkit-scrollbar-track {
    background: transparent !important;
}

.sub_wideTable::-webkit-scrollbar-thumb {
    background: #9C9C9C !important;
    border-radius: 2px;
}

.sub_wideTable table{
    width: 100%;
}

.sub_wideTable colgroup col.w1{
    width: 12%;
}

.sub_wideTable thead{
    position: absolute;
    left: 0;
    top: 30px;
    width: 100%;
    display: table;
}

.sub_wideTable th{
    font-size: 13px;
    color: var(--fontGray1-);
    font-weight: 600;
    text-align: left;
    vertical-align: top;
}

.sub_wideTable .w1{
    width: 12%;
}

.sub_wideTable .w2{
    width: 20%;
}

.sub_wideTable .blank{
    width: 2%;
}

.sub_wideTable th:not(.blank){
    height: 36px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.sub_wideTable tbody td{
    padding: 16px 8px 16px 0;
    vertical-align: top;
}

.sub_wideTable tbody td:not(.blank){
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.sub_wideTable tbody td:has(.name){
    padding: 14px 8px 16px 0;
}

.sub_wideTable tbody td .cate{
    position: relative;
    display: inline-block;
    padding-left: 17px;
    font-weight: 500;
    color: var(--fontGray1-);
    font-size: 14px;
}

.sub_wideTable tbody td .cate_dots{
    top: 5.6px;
}

.sub_wideTable td span{
    display: inline-block;
    line-height: 1.5;
}

.sub_wideTable td .name{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.32px;
    margin-bottom: 2px;
}

.sub_wideTable td .comp_num{
    font-size: 13px;
    font-weight: 600;
    color: var(--fontGray1-);
    letter-spacing: -0.26px;
}

#statistic .divider.type2 .dashBox{
    height: 100%;
}

.distr_tabBtn_area{
    position: relative;
    z-index: 10;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
}

.distr_tabBtn{
    position: relative;
    background: var(--main-color2-);
    border-radius: 999px;
}

.distr_tabBtn > button{
    position: relative;
    display: inline-block;
    text-align: left;
    width: 110px;
    padding: 14px 16px;
}

.distr_tabBtn > button::after{
    display: block;
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); 
    -webkit-transform: translateY(-50%); 
    width: 16px;
    height: 16px;
    background: url('../img/arrow_down_size1.svg') center no-repeat;
    background-size: 50% auto;
    transform-origin: center;
    transition: all .5s ease;
}

.distr_tabBtn > button.active::after{
    transform: translateY(-50%) rotate(-180deg);
    -webkit-transform: translateY(-50%) rotate(-180deg);
}

.distr_tabBtn span{
    font-size: 15px;
    color: var(--fontGray2-);
    font-weight: 600;
    font-family: var(--font1-);
}

.distr_tabBtn > ul > li > button{
    display: inline-block;
    padding: 10px 16px;
    width: 100%;
    text-align: left;
    transition: all .3s;
    background: #fff;
}

.distr_tabBtn > ul > li.active button,
.distr_tabBtn > ul > li:hover button,
.distr_tabBtn > ul > li:focus button{
    background-color: var(--main-color2-);
}

.distr_tabBtn > ul > li > button > span{
    font-weight: 500;
}

.distr_tabBtn ul{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    padding-top: calc(43.34px / 2);
    overflow: hidden;
    z-index: -1;
    border: 1px solid var(--main-color2-);
    border-radius: 0 0 15px 15px;
    display: none;
    background: var(--main-color2-);
}

.distr_tabNum{
    display: flex;
    align-items: center;
    gap: 18px;
}

.distr_tabNum *{
    color: #333;
    font-size: 15px;
    letter-spacing: -0.32px;
}

.distr_tabNum strong{
    position: relative;
    font-weight: 700;
}

.distr_tabNum strong::after{
    display: block;
    content: "";
    position: absolute;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 1px;
    height: 12px;
    background: rgba(0, 0, 0, 0.14);
}

.distr_tabNum span{
    font-weight: 600;
    font-family: var(--font3-);
}

.distr_tab{
    display: none;
    width: 100%;
}

.distr_tab.active{
    display: block;
    flex: 1;
}

.distr_chartBox{
    width: 100%;
    height: 100%;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.distr_forScroll{
    width: 100%;
    min-height: 685px;
}

.stcChart_type1{
    width: 100%;
    height: 100%;
}

.distr_tab_area{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.distr_graph_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

.chart_colorDesc{
    padding: 9px 14px;
    border-radius: 8px;
    background: #EFF0F0;
}

.chart_colorDesc ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

.chart_colorDesc ul li{
    display: flex;
    align-items: center;
    gap: 4px;
}

.chart_colorBox{
    width: 11px;
    height: 11px;
    border-radius: 2px;
}

.chart_colorBox.bright{
    border: 1px solid #B4B8BF;
}

.distr_graph_top .chart_colorDesc.distr_right ul li:nth-child(1) .chart_colorBox{
    background: #EFF0F0;
}

.distr_graph_top .chart_colorDesc.distr_right ul li:nth-child(2) .chart_colorBox{
    background: #D5E2FA;
}

.distr_graph_top .chart_colorDesc.distr_right ul li:nth-child(3) .chart_colorBox{
    background: #C5D4FF;
}

.distr_graph_top .chart_colorDesc.distr_right ul li:nth-child(4) .chart_colorBox{
    background: #7182D9;
}

.distr_graph_top .chart_colorDesc.distr_right ul li:nth-child(5) .chart_colorBox{
    background: #3833A2;
}

.chart_colorDesc ul li span{
    font-size: 13px;
    color: var(--fontGray2-);
    letter-spacing: -0.26px;
    font-weight: 600;
    font-family: var(--font1-);
}

.distr_graphArea{
    width: 100%;
    padding-bottom: 35px;
}

.distr_graph{
    position: relative;
    width: 100%;
    display: none;
}

.distr_graph.active{
    display: block;
}

.distr_graph table{
    width: 100%;
    border-collapse: separate;
}

.distr_graph table thead{
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.distr_graph table thead th{
    color: #B4B8BF;
}

.distr_graph table tbody tr{
    display: flex;
    gap: 2px;
    margin-bottom: 2px;
}

.distr_graph table tbody tr td{
    width: calc((100% - 100px) / 12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.distr_graph table tbody th,
.distr_graph table thead .blank{
    width: 100px;
}

.distr_graph table td{
    width: calc(100% - 100px / 12);
}

.distr_graph table tbody th{
    text-align: left;
    color: #5E5E5E;
    line-height: 1.3;
    word-break: keep-all;
}

.distr_graph td,
.distr_graph th{
    text-align: center;
    font-family: var(--font1-);
    font-size: 13px;
    padding: 11px 5px;
    letter-spacing: -0.26px;
    font-weight: 600;
}

.distr_graph tbody th{
    padding: 11px 5px 11px 0;
}

.distr_graph td{
    color: var(--fontGray2-);
    border-radius: 2px;
    font-weight: 600;
    transition: all 0.5s;
}

.distr_graph td.blank span{
    display: none;
    visibility: hidden;
}

.distr_graph td.range1{
    background: #EFF0F0;
}

.distr_graph td.range2{
    background: #D5E2FA;
}

.distr_graph td.range3{
    background: #C5D4FF;
}

.distr_graph td.range4{
    background: #7182D9;
    color: #fff;
}

.distr_graph td.range5{
    background: #3833A2;
    color: #fff;
}

.statistic_graphTabBtnArea{
    width: 100%;
}

.statistic_graphTabBtnList{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6px 0;
}

.statistic_graphTabBtnList.wide li{
    width: calc(50% - 3px);
}

.statistic_graphTabBtnList li a{
    display: block;
    width: 100%;
}

.graphTabBtn.type1{
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-shadow: 2px 4px 20px rgba(56, 56, 56, 0.1);
}

.statistic_graphTabBtnList li.active .graphTabBtn{
    background: rgba(255, 255, 255, 0.8);
    border-width: 2px;
    border-color: #8059E0;
}

.graphTabBtn.type1 span.cate{
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    padding: 4px 6px;
    border-radius: 8px;
    color: var(--fontGray1-);
    letter-spacing: -0.28px;
    background: var(--main-color3-);
    width: max-content;
    margin-bottom: 6px;
}

.desc_area{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;
}

.desc_area span{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
}

.desc_area span.num{
    font-family: var(--font3-);
}

.stc_img{
    width: 100%;
    user-select: none;
}

.graphTabArea{
    width: 100%;
    height: 100%;
    display: flex;
}


#statistic .divider.type1{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#statistic .divider.type1 > div{
    width: 100%;
}

.stat_graphTabArea{
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    gap: 16px;
}

.stat_graphTabArea.active{
    display: flex;
}

.stat_graph{
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
}

.stat_graph,
.stat_table{
    box-shadow: 2px 4px 20px rgba(56, 56, 56, 0.1);
}

.stat_graph_tit{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.stat_graph_tit_txt{
    width: max-content;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.stat_graph_tit_txt .cate{
    font-size: 18px;
    font-weight: 700;
    color: #70757c;
}

.stat_graph .chart_colorBox.type_line{
    position: relative;
}

.stat_graph .chart_colorDesc ul li:nth-child(1) .chart_colorBox{
    background: #5F6B7F;
}

.stat_graph .chart_colorBox.type_line::after{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background: #6E42D9;
}

.stat_table{
    flex: 1;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 30px;
}

.stat_table table{
    width: 100%;
    max-height: 100%;
    overflow-y: scroll;
}

.stat_table table thead{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.stat_table table thead th{
    font-family: var(--font1-);
    font-size: 13px;
    letter-spacing: -0.26px;
    font-weight: 600;
    color: #70757c;
    padding-bottom: 16px;
    line-height: 1.5;
}

.stat_table .w1{
    width: 8%;
}

.stat_table th:not(.w1),
.stat_table td:not(.w1){
    width: calc(92% / 12);
}

.stat_table table tbody th{
    font-size: 13px;
    color: #70757c;
    font-family: var(--font1-);
    font-weight: 600;
    letter-spacing: -0.26px;
}

.stat_table table tbody td{
    font-size: 13px;
    color: #70757c;
    font-family: var(--font3-);
    font-weight: 600;
    letter-spacing: -0.26px;
}

.stat_table table tbody tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.stat_table table tbody tr th,
.stat_table table tbody tr td{
    padding: 32px 5px;
    vertical-align: middle;
    text-align: center;
}

.stat_graphTabWideBtnArea{
    width: 100%;
}

.stat_graphTabWideBtnList{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.stat_graphTabWideBtnList li{
    width: 100%;
}

.stat_graphTabWideBtnList a{
    display: block;
}

.graphTabWideBtn{
    width: 100%;
    display: flex;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    background: rgba(255, 255, 255, 0.7);
    box-shadow: 2px 4px 20px rgba(56, 56, 56, 0.1);
}

.stat_graphTabWideBtnList li.active .graphTabWideBtn{
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #8059E0;
}

.graphTabWideBtn .txt_area{
    display: flex;
    flex-direction: column;
    width: 140px;
}

.graphTabWideBtn .txt_area .cate{
    display: inline-block;
    color: #70757c;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: -0.24px;
    border-radius: 8px;
    padding: 4px 7px;
    width: max-content;
    background: #EFF0F0;
    margin-bottom: 14px;
}

.graphTabWideBtn .txt_area .desc{
    display: inline-block;
    font-size: 14px;
    letter-spacing: -0.28px;
    color: #252525;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 4px;
}

.graphTabWideBtn .txt_area .num{
    font-family: var(--font3-);
    font-size: 22px;
    color: #252525;
    font-weight: 600; 
}

.graphTabWideBtn .img_area{
    flex: 1;
    margin: 0 17.5px;
}

.graphTabWideBtn .img_area img{
    width: 100%;
    height: auto;
    margin: auto 0;
}

.info_area{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: auto;
}

.info_area span{
    display: inline-block;
}

.info_area .percent{
    font-family: var(--font3-);
    font-size: 18px;
    font-weight: 600;
    padding-right: 25px;
    line-height: 1.5;
    background: url('../img/trending_up.svg') no-repeat;
    background-position: right center;
    background-size: 22px auto;
    color: #252525;
    margin-bottom: 4px;
}

.info_area .duration{
    font-family: var(--font1-);
    font-size: 14px;
    letter-spacing: -0.28px;
    color: #B2B9C7;
    font-weight: 500;
}

.teams_info_list_box{
    width: 100%;
}

.teams_info_list.floor1{
    width: 100%;
    display: flex;
    gap: 10px;
}

.teams_info_list.floor1 > li{
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.til_box{
    background: #EFF0F0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.teams_info_list .major_box{
    padding: 20px;
    align-items: center;
    gap: 11px;
} 

.teams_info_list .major_box strong{
    color: #252525;
    font-weight: 600;
    font-size: 28px;
    font-family: var(--font3-);
}

.teams_info_list .minor_box{
    padding: 14px 20px;
}

.teams_info_list .minor_box ul{
    display: flex;
    flex-direction: column;
}

.teams_info_list .minor_box ul li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teams_info_list .minor_box ul li span{
    font-weight: 600;
    color: #70757C;
    font-size: 14px;
}

.teams_info_list .minor_box ul li:first-child{
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.teams_info_list .minor_box ul li:last-child{
    padding-top: 14px;
}

.teams_info_list .minor_box ul li strong{
    font-weight: 600;
    font-size: 16px;
    color: #252525;
    font-family: var(--font3-);
}